@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Silkscreen&display=swap');

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.849);
}

.cardContainer {
  background-image: url('./Images/nfl-field.jpg');
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2vh 2vw;
  font-family: 'Silkscreen', cursive;

}

#gameTitle {
  font-size: 3rem;
  font-family: 'Silkscreen', cursive;
  margin: 1vh;
}

p {
  margin: 0;
  margin-top: 2vh;
  text-align: center;
  padding: 0;
  font-family: 'Silkscreen', cursive;
  font-size: 1.2rem;
}